# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradlew

# other
eclipse
run
*.yml
*.bat

# Files from Forge MDK
forge*changelog.txt
