html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

header {
    color: #f9f7f7;
    background: #2e4460;
    margin-bottom: 1rem;
}

body {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #bbb;
    background-color: #2B2B2B;
}

a {
    color: #378eda;
}

.tg {
	border-collapse:collapse;border-spacing:0;
}
.tg td {
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg th {
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}
  
.tg .tg-cly1 {
	text-align:left;
	vertical-align:middle
}

.tg .tg-wa1i {
	font-weight:bold;
	text-align:center;
	vertical-align:middle
}

.tg .tg-0lax {
	text-align:left;
	vertical-align:top
}